<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Bank System - Login</title>
    <link rel="stylesheet" href="/css/style.css" type="text/css">
</head>
<body>
    <section>
        <div class="container">
            <h1>Welcome to the bank!👋</h1>
            <h2>Please, login in your account</h2>
            <% if (error.length > 0) { %>
                <p style="color: red;"><%= error %></p>
            <% } %>
            <% if (accounts.length > 0) { %>
                <h3>Accounts available:</h3>
                <table>
                    <tr>
                        <th>Name</th>
                        <th>Account Nº</th>
                    </tr>
                    <% for (var i = 0; i < accounts.length; i++) { %>
                        <tr>
                            <td><%= accounts[i].nome %></td>
                            <td><%= accounts[i].accountNum %></td>
                        </tr>
                        <% } %>
                </table>
                        <% } else { %>
                <h3>No accounts available</h3>
            <% } %>
            <form method="post" id="form">
                <input class="w50" type="text" name="name" id="user" placeholder="Account Number">
                <input class="w50" type="password" name="password" id="password" placeholder="Password">
                <button class="w100" type="submit">Login</button>
            </form>
            <p>Doesn't have an account? Create a new one <a href="/createAccount">here</a></p>
        </div>
    </section>
</body>
</html>